{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block content %}
<div class="container-lg" style="margin-top: 100px;">
  
  {% if cancel_at_period_end %}
  Your membership will run to the end of your billing cycle.
  {% elif membership %}
  <form action="{% url 'membership:settings' %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Cancel Membership?">
  </form>
  {% else %}
  <a class="btn btn-primary" href="{% url 'membership:join' %}">Get a membership</a>
  {% endif %}
</div>
{% endblock %}