{% extends 'solution_base.html' %}
{% load static %}
{% load tags %}
{% block content %}
<div class="container-lg" style="margin-top: 60px;">
    <h2>Data Preparation</h2>
    <div class="row">
        <div class="col-4">
            <!-- Card -->
            <div class="card" style="max-width: 20rem;">
                <div class="card-body">
                    <span class="card-subtitle">Data Preparation</span>
                    <h3 class="card-title">Missing Values</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="card-link" href="#">Go</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <div class="col-4">
            <!-- Card -->
            <div class="card" style="max-width: 20rem;">
                <div class="card-body">
                    <span class="card-subtitle">Data Preprocessing</span>
                    <h3 class="card-title">Data Preparation</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="card-link" href="#">Go</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <div class="col-4">
            <!-- Card -->
            <div class="card" style="max-width: 20rem;">
                <div class="card-body">
                    <span class="card-subtitle">Data Preprocessing</span>
                    <h3 class="card-title">Scale and Transform</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="card-link" href="#">Go</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <!-- Card -->
            <div class="card" style="max-width: 20rem;">
                <div class="card-body">
                    <span class="card-subtitle">Data Preprocessing</span>
                    <h3 class="card-title">Feature Engineering</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="card-link" href="#">Go</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <div class="col-4">
            <!-- Card -->
            <div class="card" style="max-width: 20rem;">
                <div class="card-body">
                <span class="card-subtitle">Data Preprocessing</span>
                <h3 class="card-title">Feature Selection</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="card-link" href="#">Go</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
       
    </div>
    <hr>
    <h2>Machine Learning Modules</h2>
    <div class="row pb-6">
        <div class="col-4">
            <!-- Card -->
            <div class="card" style="max-width: 20rem;">
                <div class="card-body">
                <span class="card-subtitle">Machine Learning Modules</span>
                <h3 class="card-title">Supervised Learning</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="card-link" href="#">Go</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <div class="col-4">
            <!-- Card -->
            <div class="card" style="max-width: 20rem;">
                <div class="card-body">
                <span class="card-subtitle">Machine Learning Modules</span>
                <h3 class="card-title">Unsupervised Learning</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="card-link" href="#">Go</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <div class="col-4">
            <!-- Card -->
            <div class="card" style="max-width: 20rem;">
                <div class="card-body">
                <span class="card-subtitle">Machine Learning Modules</span>
                <h3 class="card-title">Time Series(Beta)</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="card-link" href="#">Go</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
    </div>
</div>
{% endblock %}