{% extends 'dash_base.html' %}
{% load static %}
{% load tags %}
{% block content %}

<div class="content container-fluid">
    <div class="row justify-content-lg-center">
      <div class="col-lg-10">
        <!-- Profile Cover -->
        <div class="profile-cover">
          <div class="profile-cover-img-wrapper">
            {% if profile.banner_pic %}
            <img id="profileCoverImg" class="profile-cover-img" src="{{profile.banner_pic.url}}" alt="Image Description">
            {% else %}
            <img id="profileCoverImg" class="profile-cover-img" src="{% static 'assets/img/1920x400/img2.jpg' %}" alt="Image Description">
            {% endif %}
            
          </div>
        </div>
        <!-- End Profile Cover -->

        <!-- Profile Header -->
        <div class="text-center mb-5">
          <!-- Avatar -->
          <label class="avatar avatar-xxl avatar-circle avatar-uploader profile-cover-avatar" for="editAvatarUploaderModal">
            {% if profile.profile_pic %}
            <img id="editAvatarImgModal" class="avatar-img" src="{{profile.profile_pic.url}}" alt="Image Description">
            {% else %}
            <span class="avatar-initials">{{profile.user.username|first}}</span>
            {% endif %}


          </label>
          <!-- End Avatar -->

          <h1 class="page-header-title">{{profile.user.username}}{% if profile.top_performer %} <i class="bi-patch-check-fill fs-2 text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Top endorsed"></i>{% endif %}</h1>

          <!-- List -->
          <ul class="list-inline list-px-2">
            {% if profile.company %}
            <li class="list-inline-item">
              <i class="bi-building me-1"></i>
              <span>{{profile.company}}.</span>
            </li>
            {% endif %}
            {% if profile.city or profile.country %}
            <li class="list-inline-item">
              <i class="bi-geo-alt me-1"></i>
              <a href="#">{{profile.city}},</a>
              <a href="#">{{profile.country}}</a>
            </li>
            {% endif %}
            {% if profile.user.date_joined %}
            <li class="list-inline-item">
              <i class="bi-calendar-week me-1"></i>
              <span>Joined {{profile.user.date_joined|date:"M d, Y"}}</span>
            </li>
            {% endif %}
          </ul>
          <!-- End List -->
        </div>
        <!-- End Profile Header -->

        <!-- Nav -->
        <div class="js-nav-scroller hs-nav-scroller-horizontal mb-5">
          <span class="hs-nav-scroller-arrow-prev" style="display: none;">
            <a class="hs-nav-scroller-arrow-link" href="javascript:;">
              <i class="bi-chevron-left"></i>
            </a>
          </span>

          <span class="hs-nav-scroller-arrow-next" style="display: none;">
            <a class="hs-nav-scroller-arrow-link" href="javascript:;">
              <i class="bi-chevron-right"></i>
            </a>
          </span>

          <ul class="nav nav-tabs align-items-center">
            <li class="nav-item">
              <a class="nav-link active" href="{{request.path}}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'dashboard:teams:team_home' %}">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'dashboard:projects:projects_home' %}">Projects 
                <!-- <span class="badge bg-soft-dark text-dark rounded-circle ms-1">3</span> -->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'accounts:following_list' request.user|profile_pk %}">Connections</a>
            </li>

            <li class="nav-item ms-auto">
              <div class="d-flex gap-2">
                {% if request.user == profile.user %}
                <a class="btn btn-white btn-sm" href="{% url 'accounts:account_settings'%}">
                  <i class="bi-person-plus-fill me-1"></i> Edit profile
                </a>
                {% else %}
               
                  {% if is_following %}
                  <form method="post" action="{% url 'accounts:remove-follower' profile.pk %}">
                      {% csrf_token %}
                      <input type="text" name="connection" value="false" hidden>
                      <button class="btn btn-outline-primary" type="submit">Remove Connection</button>
                  </form>
                  {% else %}
                  <form method="post" action="{% url 'accounts:add-follower' profile.pk %}">
                      {% csrf_token %}
                      <input type="text" name="connection" value="true" hidden>
                      <button class="btn btn-primary" type="submit"><i class="bi-person-plus-fill me-1"></i> Connection</button>
                  </form>
                  {% endif %}

                
                {% endif %}

                

                <!-- Dropdown -->
                <div class="dropdown nav-scroller-dropdown">
                  <button type="button" class="btn btn-white btn-icon btn-sm" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi-three-dots-vertical"></i>
                  </button>

                  <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="profileDropdown">
                    <span class="dropdown-header">Settings</span>

                    <a class="dropdown-item" href="#">
                      <i class="bi-share-fill dropdown-item-icon"></i> Share profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="bi-slash-circle dropdown-item-icon"></i> Block page and profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="bi-info-circle dropdown-item-icon"></i> Suggest edits
                    </a>

                    <div class="dropdown-divider"></div>

                    <span class="dropdown-header">Feedback</span>

                    <a class="dropdown-item" href="#">
                      <i class="bi-flag dropdown-item-icon"></i> Report
                    </a>
                  </div>
                </div>
                <!-- End Dropdown -->
              </div>
            </li>
          </ul>
        </div>
        <!-- End Nav -->

        <div class="row">
          <div class="col-lg-4">

            <!-- Card -->
            <div class="card mb-3 mb-lg-5">
              <!-- Header -->
              <div class="card-header card-header-content-between">
                <h4 class="card-header-title">Profile</h4>
              </div>
              <!-- End Header -->

              <!-- Body -->
              <div class="card-body">
                <ul class="list-unstyled list-py-2 text-dark mb-0">
                  <li class="pb-0"><span class="card-subtitle">About</span></li>
                  {% if profile.first_name and profile.last_name %}
                  <li><i class="bi-person dropdown-item-icon"></i> {{profile.first_name}} {{profile.last_name}}</li>
                  {% else %}
                  <li><i class="bi-person dropdown-item-icon"></i> {{profile.user.username }}</li>
                  {% endif %}
                  {% if profile.company %}
                  <li><i class="bi-building dropdown-item-icon"></i> {{profile.company}}</li>{% endif %}

                  <li class="pt-4 pb-0"><span class="card-subtitle">Contacts</span></li>
                  <li><i class="bi-at dropdown-item-icon"></i> {{profile.user.email}}</li>
                  {% if profile.phone %}
                  <li><i class="bi-phone dropdown-item-icon"></i> {{profile.phone}}</li> {% endif %}

                  <li class="pt-4 pb-0"><span class="card-subtitle">Teams</span></li>
                  <li class="fs-6 text-body"><i class="bi-people dropdown-item-icon"></i> You are not a member of any teams</li>
                  <li class="fs-6 text-body"><i class="bi-stickies dropdown-item-icon"></i> You are not working on any projects</li>
                </ul>
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card card-lg mb-3 mb-lg-5">
              <!-- Body -->
              <div class="card-body text-center">
                <div class="mb-4">
                  <img class="avatar avatar-xl avatar-4x3" src="{% static 'assets/svg/illustrations/oc-unlock.svg' %}" alt="Image Description" data-hs-theme-appearance="default">
                  <img class="avatar avatar-xl avatar-4x3" src="{% static 'assets/svg/illustrations-light/oc-unlock.svg' %}" alt="Image Description" data-hs-theme-appearance="dark">
                </div>

                <div class="mb-3">
                  <h3>2-step verification</h3>
                  <p>Protect your account now and enable 2-step verification in the settings.</p>
                </div>

                <a class="btn btn-primary" href="./account-settings.html#twoStepVerificationSection">Enable now</a>
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->
          </div>
          <!-- End Col -->

          <div class="col-lg-8">
            <!-- Card -->
            <div class="card card-centered mb-3 mb-lg-5">
              <!-- Header -->
              <div class="card-header card-header-content-between">
                <h4 class="card-header-title">Activity stream</h4>

                <!-- Dropdown -->
                <div class="dropdown">
                  <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="contentActivityStreamDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi-three-dots-vertical"></i>
                  </button>

                  <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="contentActivityStreamDropdown">
                    <span class="dropdown-header">Settings</span>

                    <a class="dropdown-item" href="#">
                      <i class="bi-share-fill dropdown-item-icon"></i> Share connections
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="bi-info-circle dropdown-item-icon"></i> Suggest edits
                    </a>

                    <div class="dropdown-divider"></div>

                    <span class="dropdown-header">Feedback</span>

                    <a class="dropdown-item" href="#">
                      <i class="bi-chat-left-dots dropdown-item-icon"></i> Report
                    </a>
                  </div>
                </div>
                <!-- End Dropdown -->
              </div>
              <!-- End Header -->

              <!-- Body -->
              <div class="card-body card-body-height">
                <img class="avatar avatar-xxl mb-3" src="{% static 'assets/svg/illustrations/oc-error.svg' %}" alt="Image Description" data-hs-theme-appearance="default">
                <img class="avatar avatar-xxl mb-3" src="{% static 'assets/svg/illustrations-light/oc-error.svg' %}" alt="Image Description" data-hs-theme-appearance="dark">
                <p class="card-text">No data to show</p>
                <a class="btn btn-white btn-sm" href="./#">Start your Activity</a>
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card card-centered mb-3 mb-lg-5">
              <!-- Header -->
              <div class="card-header card-header-content-between">
                <h4 class="card-header-title">Projects</h4>

                <!-- Dropdown -->
                <div class="dropdown">
                  <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle" id="projectReportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi-three-dots-vertical"></i>
                  </button>

                  <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="projectReportDropdown">
                    <span class="dropdown-header">Settings</span>

                    <a class="dropdown-item" href="#">
                      <i class="bi-share-fill dropdown-item-icon"></i> Share connections
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="bi-info-circle dropdown-item-icon"></i> Suggest edits
                    </a>

                    <div class="dropdown-divider"></div>

                    <span class="dropdown-header">Feedback</span>

                    <a class="dropdown-item" href="#">
                      <i class="bi-chat-left-dots dropdown-item-icon"></i> Report
                    </a>
                  </div>
                </div>
                <!-- End Dropdown -->
              </div>
              <!-- End Header -->

              <!-- Body -->
              <div class="card-body card-body-height card-body-centered">
                <img class="avatar avatar-xxl mb-3" src="{% static 'assets/svg/illustrations/oc-error.svg' %}" alt="Image Description" data-hs-theme-appearance="default">
                <img class="avatar avatar-xxl mb-3" src="{% static 'assets/svg/illustrations-light/oc-error.svg' %}" alt="Image Description" data-hs-theme-appearance="dark">
                <p class="card-text">No data to show</p>
                <a class="btn btn-white btn-sm" href="./projects.html">Start your Projects</a>
              </div>
              <!-- End Body -->
            </div>
            <!-- End Card -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>

{% endblock %}