{% extends 'solution_base.html' %}
{% load static %}
{% load tags %}
{% block content %}
<div class="container-lg" style="margin-top: 60px;">

    <h2>Machine Learning Modules</h2>
    <br>
    <div class="row pb-6">
        <div class="col-4">
            <!-- Card -->
            <div class="card" style="max-width: 20rem;">
                <div class="card-body">
                <span class="card-subtitle">Machine Learning Modules</span>
                <h3 class="card-title">Supervised Learning</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="card-link" href="{% url 'solutions:supervised' %}?data={{request.GET.data}}">Go</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <div class="col-4">
            <!-- Card -->
            <div class="card" style="max-width: 20rem;">
                <div class="card-body">
                <span class="card-subtitle">Machine Learning Modules</span>
                <h3 class="card-title">Unsupervised Learning</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="card-link" href="{% url 'solutions:unsupervised' %}?data={{request.GET.data}}">Go</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
        <div class="col-4">
            <!-- Card -->
            <div class="card" style="max-width: 20rem;">
                <div class="card-body">
                <span class="card-subtitle">Machine Learning Modules</span>
                <h3 class="card-title">Time Series(Beta)</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="card-link" href="{% url 'solutions:timeseries' %}?data={{request.GET.data}}">Go</a>
                </div>
            </div>
            <!-- End Card -->
        </div>
    </div>
</div>
{% endblock %}